.description {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.166;
  text-align: center;
  text-transform: uppercase;
  color: var(--bgc-circle-hiro2);
}

.title {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--akcent-red-title);
}
