<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-item">
        <p class="advantages-numbers">721</p>
        <p class="advantages-descriptions">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-numbers">16kg</p>
        <p class="advantages-descriptions">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-numbers">84</p>
        <p class="advantages-descriptions">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
