
    <section class="contacts">
        <div class="container">
            <ul class="contacts__card">
                <!-- one card -->
                <li class="contacts__card-list">
                    <span class="contacts__card-name">
                        CAFE
                    </span>
                    <h3 class="contacts__card-adress">
                        Chicago
                    </h3>
                    <p class="contacts__card-txt">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                    <div class="contacts__card-daytime">
                        <h3 class="contacts__card-day">
                            Monday - Friday
                        </h3>
                        <p class="contacts__card-time">
                            06:00 AM - 10:00 PM
                        </p>
                        <h3 class="contacts__card-day">
                            Saturday - Sunday
                        </h3>
                        <p class="contacts__card-time">
                            08:00 AM - 16:00 PM
                        </p>
                    </div>
                    <ul class="contacts__card-item">
                        <li class="contacts__card-cnt">
                            <a class="contacts__card-tlml" href="tel:+610383766284">
                                +61(0) 383 766 284
                            </a>
                            <a class="contacts__card-tlml" href="mailto:noreply@envato.com">
                                noreply@envato.com
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- second card -->
                <li class="contacts__card-list">
                    <span class="contacts__card-namefood">
                        FOOD TRUCK
                    </span>
                    <h3 class="contacts__card-adress">
                        Los Angeles
                    </h3>
                    <p class="contacts__card-txt">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                    <div class="contacts__card-daytime">
                        <h3 class="contacts__card-day">
                            Monday - Friday
                        </h3>
                        <p class="contacts__card-time">
                            06:00 AM - 10:00 PM
                        </p>
                        <h3 class="contacts__card-day">
                            Saturday - Sunday
                        </h3>
                        <p class="contacts__card-time">
                            08:00 AM - 16:00 PM
                        </p>
                    </div>
                    <ul class="contacts__card-item">
                        <li class="contacts__card-cnt">
                            <a class="contacts__card-tlml" href="tel:+610383766284">
                                +61(0) 383 766 284
                            </a>
                            <a class="contacts__card-tlml" href="mailto:noreply@envato.com">
                                noreply@envato.com
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- three card -->
                <li class="contacts__card-list">
                    <span class="contacts__card-name">
                        CAFE
                    </span>
                    <h3 class="contacts__card-adress">
                        New York
                    </h3>
                    <p class="contacts__card-txt">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                        <div class="contacts__card-daytime">
                            <h3 class="contacts__card-day">
                                Monday - Friday
                            </h3>
                            <p class="contacts__card-time">
                                06:00 AM - 10:00 PM
                            </p>
                            <h3 class="contacts__card-day">
                                Saturday - Sunday
                            </h3>
                            <p class="contacts__card-time">
                                08:00 AM - 16:00 PM
                            </p>
                        </div>
                    <ul class="contacts__card-item">
                        <li class="contacts__card-cnt">
                            <a class="contacts__card-tlml" href="tel:+610383766284">
                                +61(0) 383 766 284
                            </a>
                            <a class="contacts__card-tlml" href="mailto:noreply@envato.com">
                                noreply@envato.com
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
            <ul class="contacts__card-btns">
                <li class="contacts__card-btn">
                    <button class="btn contacts__card-btn-one pointer" type="button" data-map-open>
                        Our Locations
                        <svg class="contacts__card-btn-onesvg pointer" width="4.5"
                            height="8">
                            <use href="./images/sprite.svg#icon-Vector-1"></use>
                        </svg>
                    </button>
                </li>
                <li class="contacts__card-btn">
                    <button class="contacts__card-btn-second pointer" type="button" data-modal-open>
                        Franchise
                        <svg class="contacts__card-btn-secondsvg pointer" width="4.5"
                            height="8">
                            <use href="./images/sprite.svg#icon-Vector-1"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </section>
    <!-- MODAL WINDOW -->
    <div class="backdrop" data-modal>
        <div class="modal">
            <button type="button" class="modal__close-btn" data-modal-close>
                <svg class="close-btn" width="11" height="11">
                    <use href="./images/sprite.svg#icon-Vector-X"></use>
                </svg>
            </button>
            <p class="modal__title">
                Leave your details, we will call you back</p>
            <form action="#" class="modal__form">
                <div class="modal__field">
                    <label for="username" class="modal__label">Name</label>
                    <div class="input-wrap">
                        <input type="text" class="modal__input" name="username">
                        <svg class="input-icon" width="18" height="18">
                            <use href="./images/sprite.svg#icon-person-black"></use>
                        </svg>
                    </div>
                </div>
                <div class="modal-field">
                    <label for="tel" class="modal__label">Number phone</label>
                    <div class="input-wrap">
                        <input type="tel" pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
                            class="modal__input" name="tel" title="+38 (099) 000 00 00">
                        <svg class="input-icon" width="18" height="18">
                            <use href="./images/sprite.svg#icon-phone-black"></use>
                        </svg>
                    </div>
                </div>
                <div class="modal__field">
                    <label for="email" class="modal__label">mail</label>
                    <div class="input-wrap">
                        <input type="email" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                            class="modal__input" name="email" title="i@i.ua">
                        <svg class="input-icon" width="18" height="18">
                            <use href="./images/sprite.svg#icon-email-black"></use>
                        </svg>
                    </div>
                </div>
                <div class="modal__field">
                    <label for="text" class="modal__label">Comment</label>
                    <textarea name="text" id="text" class="modal__text" placeholder="Enter text"></textarea>
                    <div class="modal-field">
                        <button type="button" class="modal__form-btn">
                            Send
                        </button>
        </div>
    </div>
    <!-- script JS -->
    <script src="./js/modal.js"></script>