
    <section class="contacts">
        <div class="container">
            <ul class="contacts__card">
                <!-- one card -->
                <li class="contacts__card-list">
                    <span class="contacts__card-name">
                        CAFE
                    </span>
                    <h3 class="contacts__card-adress">
                        Chicago
                    </h3>
                    <p class="contacts__card-txt">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                    <div class="contacts__card-daytime">
                        <h3 class="contacts__card-day">
                            Monday - Friday
                        </h3>
                        <p class="contacts__card-time">
                            06:00 AM - 10:00 PM
                        </p>
                        <h3 class="contacts__card-day">
                            Saturday - Sunday
                        </h3>
                        <p class="contacts__card-time">
                            08:00 AM - 16:00 PM
                        </p>
                    </div>
                    <ul class="contacts__card-item">
                        <li class="contacts__card-cnt">
                            <a class="contacts__card-tlml" href="tel:+610383766284">
                                +61(0) 383 766 284
                            </a>
                            <a class="contacts__card-tlml" href="mailto:noreply@envato.com">
                                noreply@envato.com
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- second card -->
                <li class="contacts__card-list">
                    <span class="contacts__card-namefood">
                        FOOD TRUCK
                    </span>
                    <h3 class="contacts__card-adress">
                        Los Angeles
                    </h3>
                    <p class="contacts__card-txt">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                    <div class="contacts__card-daytime">
                        <h3 class="contacts__card-day">
                            Monday - Friday
                        </h3>
                        <p class="contacts__card-time">
                            06:00 AM - 10:00 PM
                        </p>
                        <h3 class="contacts__card-day">
                            Saturday - Sunday
                        </h3>
                        <p class="contacts__card-time">
                            08:00 AM - 16:00 PM
                        </p>
                    </div>
                    <ul class="contacts__card-item">
                        <li class="contacts__card-cnt">
                            <a class="contacts__card-tlml" href="tel:+610383766284">
                                +61(0) 383 766 284
                            </a>
                            <a class="contacts__card-tlml" href="mailto:noreply@envato.com">
                                noreply@envato.com
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- three card -->
                <li class="contacts__card-list">
                    <span class="contacts__card-name">
                        CAFE
                    </span>
                    <h3 class="contacts__card-adress">
                        New York
                    </h3>
                    <p class="contacts__card-txt">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                        <div class="contacts__card-daytime">
                            <h3 class="contacts__card-day">
                                Monday - Friday
                            </h3>
                            <p class="contacts__card-time">
                                06:00 AM - 10:00 PM
                            </p>
                            <h3 class="contacts__card-day">
                                Saturday - Sunday
                            </h3>
                            <p class="contacts__card-time">
                                08:00 AM - 16:00 PM
                            </p>
                        </div>
                    <ul class="contacts__card-item">
                        <li class="contacts__card-cnt">
                            <a class="contacts__card-tlml" href="tel:+610383766284">
                                +61(0) 383 766 284
                            </a>
                            <a class="contacts__card-tlml" href="mailto:noreply@envato.com">
                                noreply@envato.com
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
            <ul class="contacts__card-btns">
                <li class="contacts__card-btn">
                    <button class="btn contacts__card-btn-one pointer" type="button" data-map-open>
                        Our Locations
                        <svg class="contacts__card-btn-onesvg pointer" width="4.5"
                            height="8">
                            <use href="./images/sprite.svg#icon-Vector-1"></use>
                        </svg>
                    </button>
                </li>
                <li class="contacts__card-btn">
                    <button class="contacts__card-btn-second pointer" type="button" data-modal-open>
                        Franchise
                        <svg class="contacts__card-btn-secondsvg pointer" width="4.5"
                            height="8">
                            <use href="./images/sprite.svg#icon-Vector-1"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </section>