<section class="contacts" id="contacts">
  <div class="container">
    <ul class="contacts__card">
      <!-- one card -->
      <li class="contacts__card-list">
        <span class="contacts__card-name"> CAFE </span>
        <h3 class="contacts__card-adress">Chicago</h3>
        <p class="contacts__card-txt">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts__card-daytime">
          <h3 class="contacts__card-day">Monday - Friday</h3>
          <p class="contacts__card-time">06:00 AM - 10:00 PM</p>
          <h3 class="contacts__card-day">Saturday - Sunday</h3>
          <p class="contacts__card-time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts__card-item">
          <li class="contacts__card-cnt">
            <a class="contacts__card-tlml" href="tel:+610383766284"> +61(0) 383 766 284 </a>
            <a class="contacts__card-tlml" href="mailto:noreply@envato.com"> noreply@envato.com </a>
          </li>
        </ul>
      </li>
      <!-- second card -->
      <li class="contacts__card-list">
        <span class="contacts__card-namefood"> FOOD TRUCK </span>
        <h3 class="contacts__card-adress">Los Angeles</h3>
        <p class="contacts__card-txt">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="contacts__card-daytime">
          <h3 class="contacts__card-day">Monday - Friday</h3>
          <p class="contacts__card-time">06:00 AM - 10:00 PM</p>
          <h3 class="contacts__card-day">Saturday - Sunday</h3>
          <p class="contacts__card-time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts__card-item">
          <li class="contacts__card-cnt">
            <a class="contacts__card-tlml" href="tel:+610383766284"> +61(0) 383 766 284 </a>
            <a class="contacts__card-tlml" href="mailto:noreply@envato.com"> noreply@envato.com </a>
          </li>
        </ul>
      </li>
      <!-- three card -->
      <li class="contacts__card-list">
        <span class="contacts__card-name"> CAFE </span>
        <h3 class="contacts__card-adress">New York</h3>
        <p class="contacts__card-txt">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

        <div class="contacts__card-daytime">
          <h3 class="contacts__card-day">Monday - Friday</h3>
          <p class="contacts__card-time">06:00 AM - 10:00 PM</p>
          <h3 class="contacts__card-day">Saturday - Sunday</h3>
          <p class="contacts__card-time">08:00 AM - 16:00 PM</p>
        </div>
        <ul class="contacts__card-item">
          <li class="contacts__card-cnt">
            <a class="contacts__card-tlml" href="tel:+610383766284"> +61(0) 383 766 284 </a>
            <a class="contacts__card-tlml" href="mailto:noreply@envato.com"> noreply@envato.com </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__card-btns">
      <li class="contacts__card-btn">
        <button class="btn contacts__card-btn-one pointer" type="button" data-map-open>
          Our Locations
          <svg class="contacts__card-btn-onesvg pointer" width="4.5" height="8">
            <use href="./images/sprite.svg#icon-Vector-1"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__card-btn">
        <button class="contacts__card-btn-second pointer" type="button" data-modal-open>
          Franchise
          <svg class="contacts__card-btn-secondsvg pointer" width="4.5" height="8">
            <use href="./images/sprite.svg#icon-Vector-1"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
<!-- MODAL WINDOW -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__close-btn" data-modal-close>
      <svg class="close-btn" width="11" height="11">
        <use href="./images/sprite.svg#icon-Vector-X"></use>
      </svg>
    </button>
    <p class="modal__title">Leave your details, we will call you back</p>
    <form action="#" class="modal__form">
      <div class="modal-field">
        <label for="username" class="modal__label">Name</label>
        <div class="input-wrap">
          <input type="text" class="modal__input" name="username" id="username" />
          <svg class="input-icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-person-black"></use>
          </svg>
        </div>
      </div>
      <div class="modal-field">
        <label for="tel" class="modal__label">Number phone</label>
        <div class="input-wrap">
          <input
            type="tel"
            pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
            class="modal__input"
            name="tel"
            title="+38 (099) 000 00 00"
            id="tel"
          />
          <svg class="input-icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-phone-black"></use>
          </svg>
        </div>
      </div>
      <div class="modal__field">
        <label for="email" class="modal__label">mail</label>
        <div class="input-wrap">
          <input
            type="email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            class="modal__input"
            name="email"
            title="i@i.ua"
            id="email"
          />
          <svg class="input-icon" width="18" height="18">
            <use href="./images/sprite.svg#icon-email-black"></use>
          </svg>
        </div>
      </div>
      <div class="modal__field">
        <label for="text" class="modal__label">Comment</label>
        <textarea name="text" id="text" class="modal__text" placeholder="Enter text"></textarea>
        <div class="modal-field">
          <button type="button" class="modal__form-btn">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- MAP MODAL -->
<div class="backdrop is-hidden" data-map>
  <div class="map">
    <div class="siti-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d380510.67421180144!2d-88.01216171657909!3d41.83390416336236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c3cd0f4cbed%3A0xafe0a6ad09c0c000!2z0KfQuNC60LDSkdC-LCDQhtC70LvRltC90L7QudGBLCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!5e0!3m2!1suk!2sua!4v1642025373396!5m2!1suk!2sua"
        width="600"
      ></iframe>
      <button class="contacts__card-btn-map pointer" type="button" data-map-chikago>Chicago</button>
    </div>
    <div class="siti-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227523.25938558907!2d-118.48796286264815!3d34.00758346038311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9GW0YTQvtGA0L3RltGPLCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!5e0!3m2!1suk!2sua!4v1642025145763!5m2!1suk!2sua"
      ></iframe>
      <button class="contacts__card-btn-map pointer" type="button" data-map-losangeles>
        Los Angeles
      </button>
    </div>
    <div class="siti-map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2799281821!2d-74.25987956441226!3d40.697670061300926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodC_0L7Qu9GD0YfQtdC90ZYg0KjRgtCw0YLQuCDQkNC80LXRgNC40LrQuA!5e0!3m2!1suk!2sua!4v1642025300203!5m2!1suk!2sua"
      ></iframe>
      <button class="contacts__card-btn-map pointer" type="button" data-map-newyork>
        New York
      </button>
    </div>
    <button type="button" class="modal__close-btnmap" data-map-close>
      <svg class="close-btnmap" width="11" height="11">
        <use href="./images/sprite.svg#icon-Vector-X"></use>
      </svg>
    </button>
  </div>
</div>
<!-- script JS -->
<script src="./js/modal.js"></script>
