<section class="customer">
  <h2 class="visually-hidden">customer</h2>
  <div class="swiper container">
    <ul class="swiper-wrapper customer-list">
      <li class="swiper-slide customer-list__item">
        <picture>
          <source
            srcset="./images/customer/review1-min.png 1x, ./images/customer/review1-2x-min.png 2x"
          />
          <img src="./images/customer/review1-min.png" width="85" alt="Review 1" />
        </picture>
        <div class="customer-list__wrapper">
          <p class="customer-list__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <span class="customer-list__description">Emily, Los Angeles</span>
      </li>
      <li class="swiper-slide customer-list__item">
        <picture>
          <source
            srcset="./images/customer/review2-min.png 1x, ./images/customer/review2-2x-min.png 2x"
          />
          <img src="./images/customer/review2-min.png" width="85" alt="Review 1" />
        </picture>
        <div class="customer-list__wrapper">
          <p class="customer-list__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <span class="customer-list__description">Natali, New York</span>
      </li>
      <li class="swiper-slide customer-list__item">
        <picture>
          <source
            srcset="./images/customer/review3-min.png 1x, ./images/customer/review3-2x-min.png 2x"
          />
          <img src="./images/customer/review3-min.png" width="85" alt="Review 1" />
        </picture>
        <div class="customer-list__wrapper">
          <p class="customer-list__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <span class="customer-list__description">Natali, Chicago</span>
      </li>
    </ul>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->

    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>
</section>
