<footer class="foot section">
  <div class="footer container">
    <div class="footer__wrap-titles">
      <p class="footer__descript description">homemade ice cream made</p>
      <h2 class="footer__title title">with passion</h2>
    </div>
    <div class="footer__wrap-icons">
      <ul class="footer__list-icon">
        <li class="footer__list-item">
          <a
            class="footer__link-icon"
            href="https://github.com/"
            aria-label="social links git"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer__icon">
              <use class="footer__icon-git" href="images/sprite.svg#git-icon-1"></use></svg
          ></a>
        </li>
        <li class="footer__list-item">
          <a
            class="footer__link-icon"
            href="https://t.me/"
            aria-label="social links telegram"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer__icon">
              <use class="footer__icon-fb" href="images/sprite.svg#telegram-1"></use></svg
          ></a>
        </li>
        <li class="footer__list-item">
          <a
            class="footer__link-icon"
            href="https://www.facebook.com/"
            aria-label="social links fb"
            target="_blank"
            rel="noopener noreferrer"
            ><svg class="footer__icon">
              <use class="footer__icon-tg" href="images/sprite.svg#fb-icon-1"></use></svg
          ></a>
        </li>
      </ul>

      <p class="footer__text">
        Feel free to contact
        <a class="footer__text-call-num" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
  <div class="footer__end"></div>
  <p class="footer__end-text">© 2019 - IceCream. All Rights Reserved.</p>
</footer>
