<section class="gallery" id="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <picture>
    <source
      srcset="
        ./images/gallery/gallery-desktop-min.jpg   1x,
        ./images/gallery/gallery-desktop2x-min.jpg 2x
      "
      media="(min-width:1280px)"
    />
    <source
      srcset="./images/gallery/gallery-tab-min.jpg 1x, ./images/gallery/gallery-tab2x-min.jpg 2x"
      media="(min-width:768px)"
    />
    <source
      srcset="./images/gallery/gallery-mob-min.jpg 1x, ./images/gallery/gallery-mob2x-min.jpg 2x"
      media="(min-width:480px)"
    />
    <img src="./images/gallery/gallery-desktop-min.jpg" width="1280" alt="Gallery" loaging="lazy" />
  </picture>
</section>
