<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a href="#header" class="header__logo">
        <img src="images/header/header-logo.png" alt="Logo" width="199" />
      </a>
      <div class="header__menu" data-menu>
        <button class="btn" type="header__menu-button">
          Buy now
          <svg width="6" height="8">
            <use href="images/sprite.svg#arrov-right-1"></use>
          </svg>
        </button>
        <ul class="header__list">
          <li class="header__item">
            <a href="" class="header__link active" data-menu-link>Home</a>
          </li>
          <li class="header__item">
            <a href="#about" class="header__link" data-menu-link>About us</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link" data-menu-link>How it’s made?</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link" data-menu-link>Our products</a>
          </li>
          <li class="header__item">
            <a href="" class="header__link" data-menu-link>Contact</a>
          </li>
        </ul>
      </div>
      <button class="burger" type="button" data-menu-button>
        <span></span>
        <span></span>
        <span></span>
      </button>
      <button class="header__button btn" type="button">
        Buy now
        <svg width="6" height="8">
          <use href="images/sprite.svg#arrov-right-1"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
