<!-- Продукты -->
<section class="products section">
  <div class="container">
    <p class="products__pre-title">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--first">
        <h3 class="products__subtitle">ice cream</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="products__check" type="button"></button>
      </li>

      <li class="products__item products__item--second">
        <h3 class="products__subtitle">ice coffee</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="products__check" type="button"></button>
      </li>

      <li class="products__item products__item--third">
        <h3 class="products__subtitle">milkshakes</h3>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <button class="products__check" type="button"></button>
      </li>
    </ul>
  </div>
</section>
