.btn {
    height: 44px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    border-radius: 22px;
    border: transparent;
    transition: background-color 250ms linear;
}