.gallery {
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, var(--bgc-sections2) 40%, var(--akcent2-light-title) 40%);
  @include mq(mobile) {
    & img {
      width: 480px;
    }
  }
  @include mq(tablet) {
    & img {
      width: 786px;
    }
  }
  @include mq(desktop) {
    & img {
      width: 1280px;
    }
  }
}
