.gallery {
  padding: 0px 0px 40px 0px;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, var(--bgc-sections2) 43%, var(--akcent2-light-title) 43%);
  @include mq(mobile) {
    background: linear-gradient(180deg, var(--bgc-sections2) 29.9%, var(--akcent2-light-title) 30%);
    padding: 0px 0px 61px 0px;
    & img {
      width: 480px;
    }
  }
  @include mq(tablet) {
    background: linear-gradient(180deg, var(--bgc-sections2) 31%, var(--akcent2-light-title) 34%);
    & img {
      width: 786px;
    }
  }
  @include mq(desktop) {
    background: linear-gradient(180deg, var(--bgc-sections2) 34.9%, var(--akcent2-light-title) 35%);
    & img {
      width: 1280px;
    }
  }
}
