// Продукты
.products {
  padding-top: 121px;
  padding-bottom: 98px;
}

.products__pre-title {
  margin-bottom: 15px;

  font-family: var(--title-font);

  @include font(18px, 1.17, 400);

  text-align: center;
  text-transform: uppercase;

  color: #ffa5ba;
}

.products__title {
  margin-bottom: 144px;

  font-family: var(--title-font);

  @include font(34px, 1.15, 400);

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #d41443;
}

.products__item {
  padding-top: 161px;
  padding-bottom: 41px;

  text-align: center;
  border-radius: 24px;
  // width: 280px;
  max-width: 100%;
  // min-height: 598px;
}

.products__item--first {
  position: relative;
  margin-bottom: 130px;

  background-color: #ffb8ca;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -45%);

    content: '';
    display: block;
    min-width: 249px;
    height: 252px;

    background-image: url('../images/products/home-pic1.png');
  }
}
.products__item--second {
  position: relative;
  margin-bottom: 130px;

  background-color: #f0d1a5;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -45%);

    content: '';
    display: block;
    min-width: 249px;
    height: 252px;

    background-image: url('../images/products/home-pic2.png');
  }
}

.products__item--third {
  position: relative;

  background-color: #c2e297;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -45%);

    content: '';
    display: block;
    min-width: 249px;
    height: 252px;

    background-image: url('../images/products/home-pic3.png');
  }
}

.products__subtitle {
  position: relative;

  margin-bottom: 66px;

  font-family: var(--title-font);

  @include font(20px, 1.15, 400);

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #ffffff;

  &::after {
    position: absolute;
    bottom: -36px;
    left: 50%;
    transform: translate(-50%);

    content: '';
    display: block;
    min-width: 26px;
    height: 6px;

    background-image: url('../images/products/group-4.png');
  }
}
.products__text {
  margin-bottom: 30px;

  padding-right: 40px;
  padding-left: 40px;

  font-family: var(--main-font);

  @include font(14px, 1.5, 700);

  text-transform: uppercase;
  letter-spacing: 0.04em;

  color: #ffffff;
}

.products__check {
  width: 40px;
  height: 40px;

  background-image: url('../images/products/arrow-right-4.png');

  border-radius: 50%;
  border: none;
}
